@model MarkupConverterWeb.Models.MarkupConverterModel
@{
    ViewBag.Title = "Markup Converter";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h3 class="text-center">Markup</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            @using (Ajax.BeginForm("ConvertMarkup", new AjaxOptions()
            {
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "result-placeholder"
            }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <form class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.MarkupText, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.MarkupText, new { @placeholder = "Enter your markup text here", @class = "form-control", @rows="10"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MarkupLanguage, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.DropDownList(
                                 "markupLanguage",
                                 new SelectList(
                                     Model.Languages.Select(x => new { Value = x, Text = x }),
                                     "Value",
                                     "Text"
                                 ),
                                 new { @class = "form-control", @id = "markupLanguage" }
                     )
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-default">Convert</button>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
</div>

@*Sloppy, but for now let's just use br tags to put space between areas.*@
<br />
<br />
<br />


<div id="result-placeholder">
    
</div>